version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hackflow-backend
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - GIN_MODE=release # Включаем production режим для Gin
